[user]
	name = Carl Markham
	email = carl.markham@elasticpath.com

[github]
	user = cjmarkham

[credential]
	helper = osxkeychain

[color]
	ui = auto

[core]
	excludesfile = ~/.gitignore-global
	editor = code --wait
	mergeoptions = --no-edit
	hooksPath = ~/.dotfiles/.githooks

[diff]
  tool = default-difftool

[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
	prune = 1

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[hub]
	protocol = https

[push]
	default = simple
[pull]
	rebase = true

[alias]
  s = status
  co = checkout
  b = branch
  f = fetch
